@model alfariq.ViewModels.Shared.LoginModel

<h2>Participant Login</h2>
<form method="post" action="~/Home/Index">
    Username: <input type="text" size="15" id="Username" name="Username" />
    Password: <input type="password" size="15" id="Password" name="Password" />
    <input type="submit" name="Login"/>
    <div>@Model.Message</div>
</form>