@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" action="~/Admin/Login">
    Username: <input type="text" size="15" id="Username" name="Username" />
    Password: <input type="password" size="15" id="Password" name="Password" />
    <input type="submit" name="Login"/>
</form>